.loader,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 1em;
  box-sizing: border-box;
}

form {
  flex: 1;
  max-width: 600px;
  padding: 1em;
  border: 1px solid #999;
  border-radius: 0.5em;
}

form > div {
  margin-bottom: 1em;
}

label {
  font-weight: bold;
}

input,
textarea {
  padding: 0.8em;
  width: 100%;
}

button {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin-bottom: 1em;
}

button[type='submit'] {
  background-color: blue;
  color: white;
}

button[type='submit']:hover {
  background-color: darkblue;
}
button[type='button']:hover {
  background-color: #c5c5c5;
}

.error {
  display: inline-block;
  color: red;
}

.error::first-letter {
  text-transform: uppercase;
}
